# 분석을 위한 DataFrame Pickle 생성 스크립트

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [3]:
file_path = r'C:\Users\USER\Desktop\paper\kospi_10yr.csv'
df = pd.read_csv('./data/kospi_10yr.csv', encoding='cp949', thousands=',')
df

C:\Users\USER\Anaconda3\envs\py36_ml\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029,3030,3031,3032,3033,3034,3035,3036,3037,3038,3039,3040,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388,3389,3390,3391,3392,3393,3394,3395,3396,3397,3398,3399,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3419,3420,3421,3422,3423,3424,3425,3426,3427,3428,3429,3430,3431,3432,3433,3434,3435,3436,3437,3438,3439,3440,3441,3442,3443,3444,3445,3446,3447,3448,3449,3450,3451,3452,3453,3454,3455,3456,3457,3458,3459,3460,3461,3462,3463,3464,3465,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475,3476,3477,3478,3479,3480,3481,3482,3483,3484,3485,3486,3487,3488,3489,3490,3491,3492,3493,3494,3495,3496,3497,3498,3499,3500,3501,3502,3503,3504,3505,3506,3507,3508,3509,3510,3511,3512,3513,3514,3515,3516,3517,3518,3519,3520,3521,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3541,3542,3543,3544,3545,3546,3547,3548,3549,3550,3551,3552,3553,3554,3555,3556,3557,3558,3559,3560,3561,3562,3563,3564,3565,3566,3567,3568,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578,3579,3580,3581,3582,3583,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599,3600,3601,3602,3603,3604,3605,3606,3607,3608,3609,3610,3611,3612,3613,3614,3615,3616,3617,3618,3619,3620,3621,3622,3623,3624,3625,3626,3627,3628,3629,3630,3631,3632,3633,3634,3635,3636,3637,3638,3639,3640,3641,3642,3643,3644,3645,3646,3647,3648,3649,3650,3651,3652,3653,3654,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664,3665,3666,3667,3668,3669,3670,3671,3672,3673,3674,3675,3676,3677,3678,3679,3680,3681,3682,3683,3684,3685,3686,3687,3688,3689,3690,3691,3692,3693,3694,3695,3696,3697,3698,3699,3700,3701,3702,3703,3704,3705,3706,3707,3708,3709,3710,3711,3712,3713,3714,3715,3716,3717,3718,3719,3720,3721,3722,3723,3724,3725,3726,3727,3728,3729,3730,3731,3732,3733,3734,3735,3736,3737,3738,3739,3740,3741,3742,3743,3744,3745,3746,3747,3748,3749,3750,3751,3752,3753,3754,3755,3756,3757,3758,3759,3760,3761,3762,3763,3764,3765,3766,3767,3768,3769,3770,3771,3772,3773,3774,3775,3776,3777,3778,3779,3780,3781,3782,3783,3784,3785,3786,3787,3788,3789,3790,3791,3792,3793,3794,3795,3796,3797,3798,3799,3800,3801,3802,3803,3804,3805,3806,3807,3808,3809,3810,3811,3812,3813,3814,3815,3816,3817,3818,3819,3820,3821,3822,3823,3824,3825,3826,3827,3828,3829,3830,3831,3832,3833,3834,3835,3836,3837,3838,3839,3840,3841,3842,3843,3844,3845,3846,3847,3848,3849,3850,3851,3852,3853,3854,3855,3856,3857,3858,3859,3860,3861,3862,3863,3864,3865,3866,3867,3868,3869,3870,3871,3872,3873,3874,3875,3876,3877,3878,3879,3880,3881,3882,3883,3884,3885,3886,3887,3888,3889,3890,3891,3892,3893,3894,3895,3896,3897,3898,3899,3900,3901,3902,3903,3904,3905,3906,3907,3908,3909,3910,3911,3912,3913,3914,3915,3916,3917,3918,3919,3920,3921,3922,3923,3924,3925,3926,3927,3928,3929,3930,3931,3932,3933,3934,3935,3936,3937,3938,3939,3940,3941,3942,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952,3953,3954,3955,3956,3957,3958,3959,3960,3961,3962,3963,3964,3965,3966,3967,3968,3969,3970,3971,3972,3973,3974,3975,3976,3977,3978,3979,3980,3981,3982,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,4011,4012,4013,4014,4015,4016,4017,4018,4019,4020,4021,4022,4023,4024,4025,4026,4027,4028,4029,4030,4031,4032,4033,4034,4035,4036,4037,4038,4039,4040,4041,4042,4043,4044,4045,4046,4047,4048,4049,4050,4051,4052,4053,4054,4055,4056,4057,4058,4059,4060,4061,4062,4063,4064,4065,4066,4067,4068,4069,4070,4071,4072,4073,4074,4075,4076,4077,4078,4079,4080,4081,4082,4083,4084,4085,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095,4096,4097,4098,4099,4100,4101,4102,4103,4104,4105,4106,4107,4108,4109,4110,4111,4112,4113,4114,4115,4116,4117,4118,4119,4120,4121,4122,4123,4124,4125,4126,4127,4128,4129,4130,4131,4132,4133,4134,4135,4136,4137,4138,4139,4140,4141,4142,4143,4144,4145,4146,4147,4148,4149,4150,4151,4152,4153,4154,4155,4156,4157,4158,4159,4160,4161,4162,4163,4164,4165,4166,4167,4168,4169,4170,4171,4172,4173,4174,4175,4176,4177,4178,4179,4180,4181,4182,4183,4184,4185,4186,4187,4188,4189,4190,4191,4192,4193,4194,4195,4196,4197,4198,

,Symbol,A005930,A005930.1,A005930.2,A005930.3,A005930.4,A005930.5,A005930.6,A000660,A000660.1,...,A025890.4,A025890.5,A025890.6,A008500,A008500.1,A008500.2,A008500.3,A008500.4,A008500.5,A008500.6
0,Symbol Name,삼성전자,삼성전자,삼성전자,삼성전자,삼성전자,삼성전자,삼성전자,SK하이닉스,SK하이닉스,...,한국주강,한국주강,한국주강,일정실업,일정실업,일정실업,일정실업,일정실업,일정실업,일정실업
1,Kind,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,...,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC
2,Item,S41000030F,S41000040F,S41000050F,S41000060F,S410000700,S41000080F,S420002900,S41000030F,S41000040F,...,S410000700,S41000080F,S420002900,S41000030F,S41000040F,S41000050F,S41000060F,S410000700,S41000080F,S420002900
3,Item Name,시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),...,수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원)
4,Frequency,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,...,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2301,2020-04-29,49900,50500,49600,50000,50000,15604533,330947565,83500,84800,...,1260,21163,19028,9800,9800,9760,9760,9760,264,20567
2302,2020-05-04,48900,49100,48500,48500,48500,26083749,331254493,82900,82900,...,1250,30562,18972,9700,9890,9660,9870,9870,942,20502
2303,2020-05-06,49000,49200,48500,49200,49200,18070225,331242428,82000,82500,...,1240,52146,18952,9680,9860,9680,9800,9800,1656,20466
2304,2020-05-07,49200,49300,48700,48800,48800,13884411,331354887,82400,83400,...,1290,23130,18922,9900,9900,9850,9890,9890,525,20421
2305,2020-05-08,49100,49350,48800,48800,48800,15319700,331483846,83000,85500,...,1290,21108,18894,9920,10100,9910,10100,10100,1764,20376

## 데이터 프레임 재구조화(Reshaping Data)

### 티커 - 주식 매칭 Series

In [4]:
ticker_series = df.iloc[0,:]
ticker_series

Symbol       Symbol Name
A005930             삼성전자
A005930.1           삼성전자
A005930.2           삼성전자
A005930.3           삼성전자
                ...
A008500.2           일정실업
A008500.3           일정실업
A008500.4           일정실업
A008500.5           일정실업
A008500.6           일정실업
Name: 0, Length: 5433, dtype: object

In [5]:
unique_ticker = ticker_series[1:].index.str.replace('\.[1-9]', '').unique()
ticker_series = ticker_series[unique_ticker]
ticker_series

A005930        삼성전자
A000660      SK하이닉스
A207940    삼성바이오로직스
A035420       NAVER
A068270        셀트리온
             ...
A005030        부산주공
A019490        하이트론
A109070         컨버즈
A025890        한국주강
A008500        일정실업
Name: 0, Length: 776, dtype: object

### 관심있는 행과 열만 선택

In [6]:
target_df = df.drop([0,1,2,4], axis=0)
target_df = target_df.reset_index(drop=True)
target_df

,Symbol,A005930,A005930.1,A005930.2,A005930.3,A005930.4,A005930.5,A005930.6,A000660,A000660.1,...,A025890.4,A025890.5,A025890.6,A008500,A008500.1,A008500.2,A008500.3,A008500.4,A008500.5,A008500.6
0,Item Name,시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),...,수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원)
1,2011-01-03,"955,000","966,000","950,000","958,000","19,160","265,562","130,930,330","25,000","25,300",...,"4,440","11,121","51,822","13,200","13,400","13,050","13,200","13,200","2,434","15,536"
2,2011-01-04,"956,000","961,000","949,000","958,000","19,160","274,488","131,032,737","25,400","25,600",...,"4,470","25,170","51,810","13,200","13,400","13,200","13,400","13,400","2,061","15,545"
3,2011-01-05,"955,000","955,000","942,000","942,000","18,840","336,224","131,116,380","25,450","26,300",...,"4,440","23,540","51,795","13,450","13,450","13,100","13,350","13,350",190,"15,553"
4,2011-01-06,"942,000","949,000","923,000","930,000","18,600","387,488","131,180,453","26,250","26,600",...,"4,360","21,848","51,775","13,350","13,350","13,100","13,350","13,350",120,"15,562"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,2020-04-29,49900,50500,49600,50000,50000,15604533,330947565,83500,84800,...,1260,21163,19028,9800,9800,9760,9760,9760,264,20567
2298,2020-05-04,48900,49100,48500,48500,48500,26083749,331254493,82900,82900,...,1250,30562,18972,9700,9890,9660,9870,9870,942,20502
2299,2020-05-06,49000,49200,48500,49200,49200,18070225,331242428,82000,82500,...,1240,52146,18952,9680,9860,9680,9800,9800,1656,20466
2300,2020-05-07,49200,49300,48700,48800,48800,13884411,331354887,82400,83400,...,1290,23130,18922,9900,9900,9850,9890,9890,525,20421
2301,2020-05-08,49100,49350,48800,48800,48800,15319700,331483846,83000,85500,...,1290,21108,18894,9920,10100,9910,10100,10100,1764,20376

### Multi Index 재구조화

In [7]:
target_col = ['Item Name', '수정주가(원)', '시가총액 (52주 평균)(백만원)']
target_df = target_df.loc[:, target_df.iloc[0,:].isin(target_col)]
target_df

,Symbol,A005930.4,A005930.6,A000660.4,A000660.6,A207940.4,A207940.6,A035420.4,A035420.6,A068270.4,...,A005030.4,A005030.6,A019490.4,A019490.6,A109070.4,A109070.6,A025890.4,A025890.6,A008500.4,A008500.6
0,Item Name,수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),...,수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),시가총액 (52주 평균)(백만원),수정주가(원),시가총액 (52주 평균)(백만원)
1,2011-01-03,"19,160","130,930,330","25,300","14,223,475",NaN,NaN,"69,530","9,153,431","30,944",...,"1,949","20,977","4,340","23,132","68,412","16,994","4,440","51,822","13,200","15,536"
2,2011-01-04,"19,160","131,032,737","25,600","14,227,049",NaN,NaN,"69,530","9,158,874","30,437",...,"1,970","20,996","4,375","23,130","68,412","16,992","4,470","51,810","13,400","15,545"
3,2011-01-05,"18,840","131,116,380","25,900","14,233,081",NaN,NaN,"69,844","9,164,508","30,714",...,"1,970","21,019","4,370","23,129","68,583","16,992","4,440","51,795","13,350","15,553"
4,2011-01-06,"18,600","131,180,453","26,100","14,236,774",NaN,NaN,"69,530","9,170,142","31,452",...,"1,967","21,042","4,360","23,129","67,728","16,990","4,360","51,775","13,350","15,562"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,2020-04-29,50000,330947565,83700,59542668,581000,25173648,197500,25468640,210500,...,360,20334,2675,18739,4100,54717,1260,19028,9760,20567
2298,2020-05-04,48500,331254493,81000,59555920,556000,25255934,199000,25563706,203500,...,363,20247,2580,18670,4100,54709,1250,18972,9870,20502
2299,2020-05-06,49200,331242428,82400,59557667,575000,25307711,212000,25601197,207000,...,367,20228,2615,18652,4100,54547,1240,18952,9800,20466
2300,2020-05-07,48800,331354887,82400,59565036,567000,25373072,215500,25661771,204000,...,368,20188,2690,18622,4100,54436,1290,18922,9890,20421
2301,2020-05-08,48800,331483846,85000,59578888,588000,25450756,214000,25721682,210500,...,370,20150,2735,18594,4100,54326,1290,18894,10100,20376

In [8]:
target_df.columns = target_df.columns.str.replace('\.[4,6]', '')
target_df.columns = pd.MultiIndex.from_arrays((target_df.iloc[0],target_df.columns), names=('Item', 'Symbol'))
target_df = target_df.drop([0], axis=0)
target_df.sort_index(axis=1, level=0, inplace=True)
target_df

Item     Item Name 수정주가(원)                                                  \
Symbol      Symbol A000020 A000040 A000050 A000060 A000070 A000080 A000100
1       2011-01-03   5,280   4,172   9,199  10,664  73,409  35,600  28,924
2       2011-01-04   5,300   4,197   9,275  10,616  74,447  35,950  28,840
3       2011-01-05   5,240   4,142   9,047  10,411  74,344  35,800  28,840
4       2011-01-06   5,110   4,093   8,971  10,290  77,978  35,400  28,756
5       2011-01-07   5,090   4,081   8,971  10,676  76,005  35,350  28,672
...            ...     ...     ...     ...     ...     ...     ...     ...
2297    2020-04-29   11250     800   10000   13850   49900   32450   47150
2298    2020-05-04   10600     821   10000   13550   47750   33000   46350
2299    2020-05-06   10600     829   10250   13550   48500   34450   46950
2300    2020-05-07   10400     813   10650   13600   48850   35200   46800
2301    2020-05-08   10500     808   10500   13750   49350   34200   49150

Item                    ... 시가총액 (52주 평균)(백만원)                           \
Symbol A000120 A000140  ...            A300720 A306200  A307950 A308170
1       93,600  20,200  ...                NaN     NaN      NaN     NaN
2       95,600  20,450  ...                NaN     NaN      NaN     NaN
3       95,000  20,600  ...                NaN     NaN      NaN     NaN
4       95,400  20,600  ...                NaN     NaN      NaN     NaN
5       95,800  20,600  ...                NaN     NaN      NaN     NaN
...        ...     ...  ...                ...     ...      ...     ...
2297    148000   13550  ...             413696  166189  1058142  229615
2298    141500   13950  ...             411026  165782  1050367  229956
2299    146000   14550  ...             410814  165569  1049579  230335
2300    145000   14600  ...             409844  165293  1046935  230698
2301    144000   14250  ...             408879  165042  1044023  231063

Item
Symbol  A316140 A317400 A322000 A336260 A336370 A344820
1           NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...
2297    8107363  141844  216559  498447  792601  227089
2298    8080639  141676  216555  498238  795023  227424
2299    8071493  141526  216616  498039  797393  227884
2300    8056255  141417  216725  497894  799929  228268
2301    8041163  141383  216993  497825  802487  228573

[2301 rows x 1553 columns]

In [9]:
target_df[('Item Name', 'Symbol')] = target_df[('Item Name', 'Symbol')].astype('datetime64[ns]')
target_df = target_df.set_index(('Item Name', 'Symbol'))
target_df.index.rename('Date', inplace=True)
target_df

Item       수정주가(원)                                                          \
Symbol     A000020 A000040 A000050 A000060 A000070 A000080 A000100 A000120
Date
2011-01-03   5,280   4,172   9,199  10,664  73,409  35,600  28,924  93,600
2011-01-04   5,300   4,197   9,275  10,616  74,447  35,950  28,840  95,600
2011-01-05   5,240   4,142   9,047  10,411  74,344  35,800  28,840  95,000
2011-01-06   5,110   4,093   8,971  10,290  77,978  35,400  28,756  95,400
2011-01-07   5,090   4,081   8,971  10,676  76,005  35,350  28,672  95,800
...            ...     ...     ...     ...     ...     ...     ...     ...
2020-04-29   11250     800   10000   13850   49900   32450   47150  148000
2020-05-04   10600     821   10000   13550   47750   33000   46350  141500
2020-05-06   10600     829   10250   13550   48500   34450   46950  146000
2020-05-07   10400     813   10650   13600   48850   35200   46800  145000
2020-05-08   10500     808   10500   13750   49350   34200   49150  144000

Item                         ... 시가총액 (52주 평균)(백만원)                           \
Symbol     A000140  A000150  ...            A300720 A306200  A307950 A308170
Date                         ...
2011-01-03  20,200  126,611  ...                NaN     NaN      NaN     NaN
2011-01-04  20,450  127,013  ...                NaN     NaN      NaN     NaN
2011-01-05  20,600  125,003  ...                NaN     NaN      NaN     NaN
2011-01-06  20,600  123,797  ...                NaN     NaN      NaN     NaN
2011-01-07  20,600  124,199  ...                NaN     NaN      NaN     NaN
...            ...      ...  ...                ...     ...      ...     ...
2020-04-29   13550    40350  ...             413696  166189  1058142  229615
2020-05-04   13950    38500  ...             411026  165782  1050367  229956
2020-05-06   14550    38700  ...             410814  165569  1049579  230335
2020-05-07   14600    38800  ...             409844  165293  1046935  230698
2020-05-08   14250    40100  ...             408879  165042  1044023  231063

Item
Symbol      A316140 A317400 A322000 A336260 A336370 A344820
Date
2011-01-03      NaN     NaN     NaN     NaN     NaN     NaN
2011-01-04      NaN     NaN     NaN     NaN     NaN     NaN
2011-01-05      NaN     NaN     NaN     NaN     NaN     NaN
2011-01-06      NaN     NaN     NaN     NaN     NaN     NaN
2011-01-07      NaN     NaN     NaN     NaN     NaN     NaN
...             ...     ...     ...     ...     ...     ...
2020-04-29  8107363  141844  216559  498447  792601  227089
2020-05-04  8080639  141676  216555  498238  795023  227424
2020-05-06  8071493  141526  216616  498039  797393  227884
2020-05-07  8056255  141417  216725  497894  799929  228268
2020-05-08  8041163  141383  216993  497825  802487  228573

[2301 rows x 1552 columns]

### 정재된 데이터프레임 분석

In [10]:
# Thousands Point 제거
for col in target_df.columns:
    target_df[col] = target_df[col].astype('str').str.replace(",","").astype(float)  # 바로 .str하면 Nan 포함된 열에서 에러 발생
target_df

Item        수정주가(원)                                                       \
Symbol      A000020 A000040  A000050  A000060  A000070  A000080  A000100
Date
2011-01-03   5280.0  4172.0   9199.0  10664.0  73409.0  35600.0  28924.0
2011-01-04   5300.0  4197.0   9275.0  10616.0  74447.0  35950.0  28840.0
2011-01-05   5240.0  4142.0   9047.0  10411.0  74344.0  35800.0  28840.0
2011-01-06   5110.0  4093.0   8971.0  10290.0  77978.0  35400.0  28756.0
2011-01-07   5090.0  4081.0   8971.0  10676.0  76005.0  35350.0  28672.0
...             ...     ...      ...      ...      ...      ...      ...
2020-04-29  11250.0   800.0  10000.0  13850.0  49900.0  32450.0  47150.0
2020-05-04  10600.0   821.0  10000.0  13550.0  47750.0  33000.0  46350.0
2020-05-06  10600.0   829.0  10250.0  13550.0  48500.0  34450.0  46950.0
2020-05-07  10400.0   813.0  10650.0  13600.0  48850.0  35200.0  46800.0
2020-05-08  10500.0   808.0  10500.0  13750.0  49350.0  34200.0  49150.0

Item                                     ... 시가총액 (52주 평균)(백만원)            \
Symbol       A000120  A000140   A000150  ...            A300720   A306200
Date                                     ...
2011-01-03   93600.0  20200.0  126611.0  ...                NaN       NaN
2011-01-04   95600.0  20450.0  127013.0  ...                NaN       NaN
2011-01-05   95000.0  20600.0  125003.0  ...                NaN       NaN
2011-01-06   95400.0  20600.0  123797.0  ...                NaN       NaN
2011-01-07   95800.0  20600.0  124199.0  ...                NaN       NaN
...              ...      ...       ...  ...                ...       ...
2020-04-29  148000.0  13550.0   40350.0  ...           413696.0  166189.0
2020-05-04  141500.0  13950.0   38500.0  ...           411026.0  165782.0
2020-05-06  146000.0  14550.0   38700.0  ...           410814.0  165569.0
2020-05-07  145000.0  14600.0   38800.0  ...           409844.0  165293.0
2020-05-08  144000.0  14250.0   40100.0  ...           408879.0  165042.0

Item                                                                      \
Symbol        A307950   A308170    A316140   A317400   A322000   A336260
Date
2011-01-03        NaN       NaN        NaN       NaN       NaN       NaN
2011-01-04        NaN       NaN        NaN       NaN       NaN       NaN
2011-01-05        NaN       NaN        NaN       NaN       NaN       NaN
2011-01-06        NaN       NaN        NaN       NaN       NaN       NaN
2011-01-07        NaN       NaN        NaN       NaN       NaN       NaN
...               ...       ...        ...       ...       ...       ...
2020-04-29  1058142.0  229615.0  8107363.0  141844.0  216559.0  498447.0
2020-05-04  1050367.0  229956.0  8080639.0  141676.0  216555.0  498238.0
2020-05-06  1049579.0  230335.0  8071493.0  141526.0  216616.0  498039.0
2020-05-07  1046935.0  230698.0  8056255.0  141417.0  216725.0  497894.0
2020-05-08  1044023.0  231063.0  8041163.0  141383.0  216993.0  497825.0

Item
Symbol       A336370   A344820
Date
2011-01-03       NaN       NaN
2011-01-04       NaN       NaN
2011-01-05       NaN       NaN
2011-01-06       NaN       NaN
2011-01-07       NaN       NaN
...              ...       ...
2020-04-29  792601.0  227089.0
2020-05-04  795023.0  227424.0
2020-05-06  797393.0  227884.0
2020-05-07  799929.0  228268.0
2020-05-08  802487.0  228573.0

[2301 rows x 1552 columns]

In [11]:
target_df.shape

(2301, 1552)

In [12]:
target_df.dtypes.value_counts()

float64    1552
dtype: int64

In [13]:
target_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2301 entries, 2011-01-03 to 2020-05-08
Columns: 1552 entries, (수정주가(원), A000020) to (시가총액 (52주 평균)(백만원), A344820)
dtypes: float64(1552)
memory usage: 27.3 MB

In [14]:
target_df.describe().iloc[:, :5]

Item         수정주가(원)
Symbol       A000020      A000040       A000050       A000060        A000070
count    2301.000000  2301.000000   2301.000000   2301.000000    2301.000000
mean     7458.626684  4145.551934  12950.631465  15757.980443   96857.591917
std      2119.345321  1953.140396   4444.456899   3959.659354   35224.102575
min      4070.000000   441.000000   6606.000000   9180.000000   32500.000000
25%      5540.000000  2558.000000   9330.000000  12560.000000   72300.000000
50%      7510.000000  3696.000000  12000.000000  14950.000000   87600.000000
75%      9160.000000  5834.000000  16200.000000  18450.000000  114500.000000
max     13150.000000  9866.000000  26350.000000  27500.000000  300000.000000

#### NaN 분석

In [15]:
target_df.isnull().sum(axis=1)

Date
2011-01-03    262
2011-01-04    260
2011-01-05    260
2011-01-06    260
2011-01-07    260
             ...
2020-04-29      0
2020-05-04      0
2020-05-06      0
2020-05-07      0
2020-05-08      0
Length: 2301, dtype: int64

In [16]:
target_df.loc[target_df.isnull().sum(axis=1) == 0,:].index

DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03',
               '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19',
               '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
               '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30',
               '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03',
               '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
               '2020-04-10', '2020-04-13', '2020-04-14', '2020-04-16',
               '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22',
               '2020-04-23', '2020-04-24', '2020-04-27', '2020-04-28',
               '2020-04-29', '2020-05-04', '2020-05-06', '2020-05-07',
               '2020-05-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [17]:
target_df.loc[target_df.isnull().sum(axis=1) < 30,:].index

DatetimeIndex(['2018-09-14', '2018-09-17', '2018-09-18', '2018-09-19',
               '2018-09-20', '2018-09-21', '2018-09-27', '2018-09-28',
               '2018-10-01', '2018-10-02',
               ...
               '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-05-04', '2020-05-06',
               '2020-05-07', '2020-05-08'],
              dtype='datetime64[ns]', name='Date', length=402, freq=None)

In [18]:
d = datetime.datetime(2017, 1, 1)
target_df.loc[target_df.index > d, :].isnull().sum(axis=1)

Date
2017-01-02    90
2017-01-03    90
2017-01-04    90
2017-01-05    90
2017-01-06    90
              ..
2020-04-29     0
2020-05-04     0
2020-05-06     0
2020-05-07     0
2020-05-08     0
Length: 819, dtype: int64

## Pickle 생성

In [377]:
d = datetime.datetime(2018, 1, 1)
final_df = target_df.loc[target_df.index > d, :]
final_df

Item        수정주가(원)                                                        \
Symbol      A000020 A000040  A000050  A000060   A000070  A000080  A000100
Date
2018-01-02   9870.0  1985.0  13850.0  23350.0  121500.0  24400.0  39758.0
2018-01-03  10000.0  1985.0  13750.0  23350.0  123500.0  24800.0  39483.0
2018-01-04   9750.0  1985.0  13750.0  22700.0  122000.0  24550.0  38933.0
2018-01-05   9910.0  1985.0  13550.0  23250.0  129500.0  24400.0  39849.0
2018-01-08   9950.0  1985.0  13450.0  23000.0  129000.0  23850.0  39391.0
...             ...     ...      ...      ...       ...      ...      ...
2020-04-29  11250.0   800.0  10000.0  13850.0   49900.0  32450.0  47150.0
2020-05-04  10600.0   821.0  10000.0  13550.0   47750.0  33000.0  46350.0
2020-05-06  10600.0   829.0  10250.0  13550.0   48500.0  34450.0  46950.0
2020-05-07  10400.0   813.0  10650.0  13600.0   48850.0  35200.0  46800.0
2020-05-08  10500.0   808.0  10500.0  13750.0   49350.0  34200.0  49150.0

Item                                    ... 시가총액 (52주 평균)(백만원)            \
Symbol       A000120  A000140  A000150  ...            A300720   A306200
Date                                    ...
2018-01-02  144000.0  10000.0  89408.0  ...                NaN       NaN
2018-01-03  145000.0  10200.0  90590.0  ...                NaN       NaN
2018-01-04  145000.0   9970.0  93741.0  ...                NaN       NaN
2018-01-05  141500.0  10050.0  92559.0  ...                NaN       NaN
2018-01-08  139000.0  10000.0  90590.0  ...                NaN       NaN
...              ...      ...      ...  ...                ...       ...
2020-04-29  148000.0  13550.0  40350.0  ...           413696.0  166189.0
2020-05-04  141500.0  13950.0  38500.0  ...           411026.0  165782.0
2020-05-06  146000.0  14550.0  38700.0  ...           410814.0  165569.0
2020-05-07  145000.0  14600.0  38800.0  ...           409844.0  165293.0
2020-05-08  144000.0  14250.0  40100.0  ...           408879.0  165042.0

Item                                                                      \
Symbol        A307950   A308170    A316140   A317400   A322000   A336260
Date
2018-01-02        NaN       NaN        NaN       NaN       NaN       NaN
2018-01-03        NaN       NaN        NaN       NaN       NaN       NaN
2018-01-04        NaN       NaN        NaN       NaN       NaN       NaN
2018-01-05        NaN       NaN        NaN       NaN       NaN       NaN
2018-01-08        NaN       NaN        NaN       NaN       NaN       NaN
...               ...       ...        ...       ...       ...       ...
2020-04-29  1058142.0  229615.0  8107363.0  141844.0  216559.0  498447.0
2020-05-04  1050367.0  229956.0  8080639.0  141676.0  216555.0  498238.0
2020-05-06  1049579.0  230335.0  8071493.0  141526.0  216616.0  498039.0
2020-05-07  1046935.0  230698.0  8056255.0  141417.0  216725.0  497894.0
2020-05-08  1044023.0  231063.0  8041163.0  141383.0  216993.0  497825.0

Item
Symbol       A336370   A344820
Date
2018-01-02       NaN       NaN
2018-01-03       NaN       NaN
2018-01-04       NaN       NaN
2018-01-05       NaN       NaN
2018-01-08       NaN       NaN
...              ...       ...
2020-04-29  792601.0  227089.0
2020-05-04  795023.0  227424.0
2020-05-06  797393.0  227884.0
2020-05-07  799929.0  228268.0
2020-05-08  802487.0  228573.0

[576 rows x 1552 columns]

In [378]:
final_df.to_pickle("./kse_18_20.pkl")

In [380]:
ticker_series.to_pickle("./kse_18_20_ticker.pkl")